<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>As the Crow flies</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#page-header-top">Steve Pentler</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#page-header-top">Main</a></li>
                <li><a href="#biography-info">Biography</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://github.com/stevepentler">Development: Github Projects</a></li>
                    <li><a href="#React-Electron">Development: Explaining React with Bolo Ties</a></li>
                    <li><a href="#Capybara_testing">Development: Capybara</a></li>
                    <li><a href="#Shoulda-Matchers"> Development: Shoulda Matchers</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Personal Projects/Interests</li>
                    <li><a href="#adventure_forward">Adventure Forward</a></li>
                    <li><a href="#skiboarding1">Skiboarding</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

<!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <div class="page-header" id="page-header-top">
        <h1><strong>Steve Pentler</strong></h1>
        <p><i>"If you try hard and believe in yourself, any pizza can be a personal pizza."</i></p>
      </div>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="http://turing.io/">
            <img class="img-circle" src="images/Turing.png" alt="Turing School of Software and Design" width="200" height="200" >
          </a>
          <h2>Development</h2>
          <p>My latest projects on Github</p>
          <p><a class="btn btn-default" href="https://github.com/stevepentler" role="button">GitHub &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="https://www.facebook.com/steven.pentler">
            <img class="img-circle" src="images/HeadshotPentler.jpg" alt="Headshot" width="200" height="200">
          </a>
          <h2>My Story</h2>
          <p>What led me to Turing.</p>
          <p><a class="btn btn-default" href="#biography-info" role="button">Biography &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img id="Crow" src="images/Crow.png" alt="Crow" width="200" height="200">
          <h2>Projects</h2>
          <p>Skiboarding, Experiential Education, etc. </p>
          <p><a class="btn btn-default" href="#adventure_forward" role="button">Details &raquo;</a></p>
        </div>
      </div>

      <!-- START THE FEATURETTES -->

      <hr class="gradient">

      <div id='biography-info' class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Biography. <span class="text-muted">The life of the crow.</span></h2>
          <p class="lead"><a href="https://www.youtube.com/watch?time_continue=14&v=FFTbHJo4h-o">NOLS</a> --> <a href='https://www.facebook.com/CeibaFoundation/videos/10153381650719558/'> Ecuador </a>--> <a href ='https://www.youtube.com/watch?v=veHQMaxiOmg'>University of Wisconsin</a> --> <a href='http://www.cityyear.org/denver'>City Year Denver</a> --> <a href='https://www.youtube.com/watch?v=l_wLFRsFd7k'>Adventure Forward</a> --> <a href='http://turing.io/'>Turing School for Software and Design</a><br></p>
          <p class="lead">Did some stuff, now it's web development or bust!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlight.png" alt="Crow Flight">
        </div>
      </div>

      <hr class="gradient">

<!-- REACT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <hr class="gradient">
        <div class="lead container">
        <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 id="React-Electron" class="featurette-heading">Creating a Terrible User Experience<h2 class="text-muted">With React & Electron</span></h2>
          <p class="lead">Do you love feeling powerless? Do you long for the feelings that arose when your computer used to freeze up decades ago? Me neither. But this is exactly what my new app called for...</p>
          <p class="lead"> Pomodoros have been a hot trend in programming recently, a concept that encourages taking 5 minute breaks for every 25-30 minutes worked. This concept is solid - maxmize the productivity, while building in breaks for fresh outlooks on those hard to solve problems. Unfortunately, I suck at obeying these concepts, and so does my teammate, Jordan Lawler.</p>
          <p class="lead">Without fail, we've managed to justify working through pomodoro breaks when the timer goes off. Common phrases include:
          <p><i>"Just after I fix this one thing."</i></p>
          <p><i>"After this commit."</i></p>
          <p><i>"Let's take a break after we refactor..."</i></p>
          This unhealthy delusion encouraged us to set out on a quest to develop the worst possible user experience of all time. An app that takes over your screen and leaves you powerlessly watching a countdown with no choice but to take a break. An app we call, Kryptonite.</p>
      </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlightReverse.png" alt="Crow Flight">
        </div>
      </div>

      <div id="commands" class = "lead container">
        <h3>The New Frontier: React & Electron</h3>
        <p>With no previous knowledge of React and having never heard the term electron outside of scientific context, we were tasked to create an app that used these two <i>frameworks</i> (I use that term loosely). Within the first 30 minutes we were abusing the power of Electron. We knew we had the correct tool upon discovering the <a href="https://github.com/electron/electron/blob/master/docs/api/browser-window.md">Browser Window events</a>. If you look here, you'll find a lot of examples of restrictions you'll probably never want to place on your user.
        <br>
        <br><img  src='blog4_images/Window-Events.png' alt='Window Restrictions' width="400" height="auto"><br>

        <p> Figuring out these window events was like bringing home an ugly misbehaved rescue dog for a week just to see how things go. You damn well know you can't give it back, but you still have to justify why it's worth keeping. This ugly little monster from the pound gifted us the ability to lock users out of their computers, and we were determined to justify it. </p>

        <p>We decided to <i>add value</i> to the world by forcing users to take breaks, while giving them the option to <i>opt-out</i>. Originally we planned to feature an opt out button during a pomodoro. This would track how many seconds remain of your 300 second (5 minute) break, then donate that amount of cents to a charity. But we were retreated on that idea because we doubted that users would want to enter their credit card information upon signing up.</p>

        <p>Instead we opted for a cryptological approach - allow users to exit the screen, but make it a huge pain that takes time. This provided a solution for users that need to utilize their computer in an emergency, and will probably prevent lawsuits if the app goes live. For example, on a pomodoro break the app presents a prompt with the leading words of a long speech. The user, who does not have access to the internet and cannot copy and paste the answer, must physically type out the answer. Would you rather take a 5 minute break, or spend 5 minutes researching Viper's Top Gun Speech on your phone and then physically typing it in? We thought this was an effective solution.</p>

        <h2>Explaining React with Bolo Ties</h2>
        <p>React is fascinating, even when you don't entirely know how to use it. I'm going to explain the concept with a story.</p>
        <div class="container">
          <p><i>Imagine you're a teenager and the middle of three boys. You're definitely the experimental free spirit of your family. Your annoying little buck-toothed brother wants nothing more than to be you. If you start wearing an eye-patch while watching Saturday Morning re-runs of "The Price is Right", he'll run to his room and grab the eye-patch from his birthday party at Pirate's Cove miniature golf and slap it on his face. So you say, "STOP LOOKING AT ME" and carve a Slayer tattoo into your neck. Well, you idiot, now your 5th grade brother has a slayer tattoo carved in his neck and your mom is going to be pissed.</i></p>
        </div>
        <p>Now, computer stuff. You are the trend setter and you represent the virtual DOM (Document Object Model). Your little brother is the <i>original</i> DOM that pays meticulous attention to whether any aspect of your appearance changes and follows your lead. If you change one component of appearance, your little brother catches it, and changes only that aspect of himself.</p>
        <p>Extending on this analogy</p>
        <div class="container">
          <p><i>Your appearance is made up of a bunch of components. Your cowboy boots, belt buckle, Canadian tuxedo, mullet, and eye patch compose your entire appearance. Your brother is obviously wearing the same thing. Now let's say one day you step up your badassery and add a bolo tie into the mix. Does your brother have to change his entire outfit? HELL NO! He only has to keep wearing what he already has on and add the component of your atire that has changed - the bolo tie. This is the beauty of React. </i></p>
        </div>
        <p>That story illustrates that it doesn't make much sense to change an entire outfit just to add a bolo tie, but thats what happens in frameworks that make a HTTP request each time any aspect of the DOM element changes. Retrieving ALL of the data from the DOM is like saying, go back into your room, take off your outfit, and put on the same outfit plus a bolo tie. In contrast, React hands you a bolo tie, says Godspeed, and let's you put in on in the kitchen without changing outfits. As the documentation reads: </p>
          <p><i>The way we are able to figure this out is that React does not manipulate the DOM unless it needs to. It uses a fast, internal mock DOM to perform diffs and computes the most efficient DOM mutation for you.</i></p>
        <p>This is another way of saying, React is going to take a look at what data has changed, and re-render only the aspects that are reliant on this data change.</p>
        <img  src='blog4_images/bolo-tie.jpg' alt='bolo tie' width="400" height="auto">
        <p>So yeah, I guess what I'm trying to say is that React only cares about bolo ties. It knows you're going to wear that red shirt and vest to your grave, so it isn't going to expend any energy helping you pick out a shirt & vest.</p>

        <h3>States of Confusion, and Props Too!</h3>
        <p>Finally, it would be irresponsible if I didn't impart my wisdom of <strong>state</strong> after three whole days of working with React.
        <div class="container">
          <p>The components of your outfit define the state of your identity at this specific point in your life. The components are also what your little brother uses to compare what's different, but how does he know what components make up your identity? Duh! you share your attributes and stunning features every time you step out of your bedroom. The example below showcases the attributes that define the state of the application. Currently, timerActive is set to false, but we can pass this to other components of our application and even alter its value.</p>
        </div>
        <img  src='blog4_images/state.png' alt='state' width="400" height="auto">

        <p>So how does this relate to React? These attributes (state and props) are what define the most important data of our application. State is reserved for data that may change throughout the application, such as toggling between whether timerActive = true or timerActive = false. Props are reserved for more persistent aspects, such as functions that need to be passed down but probably shouldn't change. Once again, state = data that changes, props = information that shouldn't change. You can update state by calling this.state.$$$attributeName$$$ = true. Later, you can alter this value. The code is from an app that has components that will conditionally render a timer based on whether or not the timerActive is true. Thereby, referencing a top level component's <strong> state allows us to use or redefine a value that lives in one convenient place.</strong> Managing these values is much simpler when know where they live.</p>

        <p>So how do child components know the state of the overall parent object? You deliberately pass along certain attributes of your state to lower components. This time, replace your little brother with a bastard child, because the element is actually a child (not a sibling) in nerd talk. Each time you incoporate a child component at the top level, you have the opportunity to pass individual attributes of your state to that child. You also get to name that bastard. This is like being able to hide tattoos from your brother that he doesn't need to know about, but still be able to deliberately passing him the secret to great hair. See the example below.</p>
        <img  src='blog4_images/props.png' alt='state' width="900" height="auto">

        <p>Now, once you get to the child component, which is RenderTimer in this case, you will have access to the state attributes from the first image. But what happens if you access this information by calling this.state.active in the child element? BAD NEWS! because you're trying to access the state of a parent component, NOT the state of the component you are in. This is where props come in. Call the attribute of the parent's state by using props.</p>
        <p><strong>Within Parent Component:  this.state.active => returns true</strong></p>
        <p><strong>Within Child Component:  this.props.active => returns true</strong></p>
        <p>Now this assumes two things. 1. You remembered to pass in the state to the child component & 2. You named the key that points to the state attribute as active (when it could be anything, even "tuttles")</p>

        <p>Hopefully this has helped you wrap your head around React just a bit better. If not, hopefully some tutorials will clear things up for you! Stay tuned!</p>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <hr class="gradient">
      <div id="post1" class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 id="Capybara_testing" class="featurette-heading">Capybara testing <span class="text-muted">interact like your audience!</span></h2>
        <p class="lead">You've made a website, but how do you test it from an end-user's perspective? Checkout <a href='https://rubygems.org/gems/capybara/versions/2.5.0'><strong>Capybara</strong></a>!</p>
        <p class="lead"> In short, Capybara is a ruby gem that allows developers to write tests that <i>interact with a web application like a user</i>. You can perform quality control and simulate user interaction by clicking buttons & links, filling in forms, and navigating through the site.</p>
      </div>


      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/CrowFlightReverse.png" alt="Crow Flight">
      </div>

      <div id="commands" class = "lead container">
        </p>
        <p class='blog1_text'>First, take a peek at some of the basic commands. For more commands, checkout out this <a href='https://upcase.com/test-driven-rails-resources/capybara.pdf'><i>cheatsheet</i></a>.<br></a>
        <img src='blog1_images/basic_commands.png' alt='basic commands' width="600">
      </div>

      <div class = "lead container">
        <p> The image below shows what testing looks like in practice with a user story framework. In this example we are able to navigate to a page, click a link, fill in a form, submit the form. Then we verify our input using the Capybara specific test assertion "has_content?"</p>
        <p> Take special note of the within command, which is used to define the scope of the code you interact with. In this example, within uses a loop to reference only the form that has the CSS id of "edit_form." This is especially important if you have multiple forms, links, or buttons on the same page. <br> </a>
        <img  src='blog1_images/example.png' alt='Example test' width="auto" height="500">
      </div>

      <div class = "lead container">
        <p> If you're still getting an Ambiguous match error, your first instinct should be to scope with greater specificity. Create a unique CSS identifier and use a within loop.
        <p> This is a more specific example of scoping from a different project. Notice how we find the ordered list (ol) with the id of <i>#most_pop_referrers_list</i>. Then we further specify that we want the list item's <i>(li) nth-child(#)</i>, where # is the number of the list element. For example, <i>'ol#most_pop_referrers_list li:nth-child(1)</i>' will scope the second element of the list. Then it will check for the turing url: <i>"http://turing.io (2)</i>" </p>
      </a> <img src='blog1_images/scoping_2.png' alt='More Scoping' width="auto" height="500">
      </div>

      <div id="linking" class="lead container">
        <p class='blog1_text'><strong>Installation:</strong> Make sure you have the Capybara gem installed and bundled in your test/development environment. If you are using Rails with MiniTest, head to your test_heler.rb file. Require 'capybara/rails' at the top. Next, define a class that inherits from Minitest, and include Capybara::DSL. Note that in the first test above, the UserEditsTask testing class inherits from FeatureTest as opposed to Minitest::Test. That's because the FeatureTest inherits from Minitest, thus it includes Capybara::DSL.<br></a> <img  src='blog1_images/test_helper.png' alt='linking in test_helper' width="auto" height="150">
        </p><br>
        <p><strong>Pro Tip:</strong> The most frustrating error with Capybara is generally due to scoping issues. Head to your Gemfile and require the <i>gem 'launchy'</i> in your test development environment. Next, insert <strong>save_and_open_page</strong> into your test (before it fails) and run your test. Launchy will open a display page in your browser so you can see what's happening. Next, right click on the area you're interested in and select "inspect element." This will give you access to the CSS components you can use for scoping.</p>
      </div>

      <div class="lead container">
      <p class='blog1_text'>There's more to explore with Capybara, but hopefully by now you understand that it can be a powerful tool for feature testing.</p>

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <hr class="gradient">
        <div class="lead container">
        <div class="row featurette">
        <div class="col-md-7">
          <h2 id="Shoulda-Matchers" class="featurette-heading">Shoulda Matchers <span class="text-muted">Simplify Validation Tests</span></h2>
          <p class="lead">Are you sick of writing tests to validate your models, or just gifted with solid one-liners? Check out <a href='http://matchers.shoulda.io/'><strong>shoulda-matchers</strong></a>!</p>
          <p class="lead"> Shoulda matchers is a gem that allows developers to simplify validation testing with a new suite of testing methods called <i>matchers</i>. Accordingly, validations can generally be tested in one clean line rather than lengthy, redundant tests.</p>
      </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlight.png" alt="Crow Flight">
        </div>
      </div>
      </div>

      <div id="commands" class = "lead container">
        </p>
        <p class='blog1_text'>First, take a peek at the matchers methods you will use in your specs. Checkout out the <a href='http://matchers.shoulda.io/'><i>cheatsheet</i></a> too.<br></a>
        <img src='blog2_images/matchers.png' alt='matchers' width="800">

      <div class = "lead container">
        <p> Now for an example. We define our validations in the model. The goal here is to ensure that a Resort Object can not be added to the database unless it meets all of the criteria defined in the validations. Ideally, we want Rails to throw an error if any of the validations aren't met.
          <br><br>
           In each model, we define the validations. Each Resort Object must have the presence of a name, image_path, trail_map_path, etc. Further, the name, image_path, and trail_map_path must be unique in this scenario.<br>
        <br><img  src='blog2_images/model_validations.png' alt='model validations' width="800" height="auto"><br>

        <p> These validations are fantastic if they work, but we want to <i>verify our verifications</i> with some tests in the resort_spec.rb (resort_test.rb in MiniTest). Without Shoulda Matchers, we would have to write specific tests for each validation that fulfill all of the criteria except for the validation we want to test. This is cumbersome and violates the DRY principle. Shoulda Matchers allows a uniform, clear, and short format. The following example is an RSpec example, but it's rather <strong>boring</strong> because the tests all pass. All of the validations are fulfilled.<br>
        <br><img  src='blog2_images/model_validations_spec.png' alt='model validations test' width="800" height="auto"><br>

        <br><p> Now, the main event! We are more interested in what happens to the site when all of the validations are NOT fulfilled. If a Resort Object is created or updated, but doesn't meet these specifications, we want a test to fail and notify you of the missing or incorrect attribute.<br>
        <br> Notice that we have a validation for :something_that_doesnt_exist. The test will fail because we are expecting a Resort Object to have this attribute, but it doesn't exist in the schema, nor is this attribute ever associated with the Resort Object. The error is apparent in the failed test in the second image.<br>
        <br><img src='blog2_images/missing_validation.png' alt='invalid attribute example' width="800" height="auto"><br>
        <br><img  src='blog2_images/failed_test.png' alt='failing test' width="800" height="auto"><br>

        <br><p> Shoot! Now you have your models validations, test validations, and a failing test, but you're still getting an error message like the one below! The reason is that Shoulda Matcher validations expect(RSpec) or should(MiniTest) display an error.<br>
        <br><img  src='blog2_images/view_failure.png' alt='expected message failure' width="700" height="auto"><br>


        <br><p> In practice, I prefer to add flashes to display messages during sad path tests. If a new object is being created but doesn't save because it fails a validation, I want a particular error to show up.<br>
        First, add flashes to your app/layouts/application.html.erb file somewhere in the body section. The standard is to place these above the <%= yield %> so it catches the users eye when a form or other information if filled out incorrectly.<br>
        <br><img  src='blog2_images/Flashes.png' alt='flash integration' width="400" height="auto"><br>
        <br>
        <p>Then add flash messages into your controller when you want them to be displayed. Disclaimer, this is from a different, top secret project.</p>
        <br><img  src='blog2_images/controller_flash.png' alt='flash integration in the controller' width="700" height="auto"><br>
        <br><p>Another option is to display the error messages directly in the layout/applicaiton.html.erb file.</p>
        <br><img  src='blog2_images/views.png' alt='views error integration' width="700" height="auto"><br>
        <br>
        <p><strong>Pro Tip:</strong> Remember to update your strong_params private methods if you start requiring an attribute that wasn't previously part of a form or is new to the schema. I spent about an hour tracing a bug back to the fact that I hadn't updated the permitted attributes.</p>

       <br><p><strong>Installation:</strong><br>
        For RSpec: First, place gem 'shoulda-matchers' in the test environment of your Gemfile. Don'f forget to Bundle. Then head over to your rails_helper.rb file and insert the following lines of code. Don't forget to add the error flashes in your controllers as you proceed.
        <br>
        <br><img  src='blog2_images/configuration.png' alt='configuring test helper' width="700" height="auto">
        <br><p>If you are using MiniTest, you will need to install both: <br>gem 'shoulda', '~> 3.5'
        <br>gem 'shoulda-matchers', '~> 2.0'
        <br>
        MiniTest does not require any additional setup once these two gems are installed and bundled. The functionality is the same, except you will use "should validate..." in place of the "it {is_expected_to validate...}." Don't forget to add the error flashes in your controllers as you proceed. </p>
        <br>
        <p><strong>Pro Tip:</strong> If you are using MiniTest, DO NOT put the validations inside of a test. Nest them right under the model or you will get an error along the lines of "undefined method: should." See the example below.</p><br>
        <br><img src='blog2_images/minitest_example.png' alt='MiniTest Example' width="600" height="auto"><br>
      </div>
    </div>

      <hr class="gradient">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<hr class="gradient">
        <div class="lead container">
        <div class="row featurette">
        <div class="col-md-7">
          <h2 id="Shoulda-Matchers" class="featurette-heading">Amazon Web Services <span class="text-muted">S3 Cloud Storage for Images</span></h2>
          <p class="lead">If your Paperclip images won't persist on you website, integrate <a href='http://matchers.shoulda.io/'><strong>AWS C3</strong></a>!</p>
          <p class="lead"> Shoulda matchers is a gem that allows developers to simplify validation testing with a new suite of testing methods called <i>matchers</i>. Accordingly, validations can generally be tested in one clean line rather than lengthy, redundant tests.</p>
      </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlight.png" alt="Crow Flight">
        </div>
      </div>
      </div>

      <div id="commands" class = "lead container">
        </p>
        <p class='blog1_text'>First, take a peek at the matchers methods you will use in your specs. Checkout out the <a href='http://matchers.shoulda.io/'><i>cheatsheet</i></a> too.<br></a>
        <img src='blog2_images/matchers.png' alt='matchers' width="800">

      <div class = "lead container">
        <p> Now for an example. We define our validations in the model. The goal here is to ensure that a Resort Object can not be added to the database unless it meets all of the criteria defined in the validations. Ideally, we want Rails to throw an error if any of the validations aren't met.
          <br><br>
           In each model, we define the validations. Each Resort Object must have the presence of a name, image_path, trail_map_path, etc. Further, the name, image_path, and trail_map_path must be unique in this scenario.<br>
        <br><img  src='blog2_images/model_validations.png' alt='model validations' width="800" height="auto"><br>

        <p> These validations are fantastic if they work, but we want to <i>verify our verifications</i> with some tests in the resort_spec.rb (resort_test.rb in MiniTest). Without Shoulda Matchers, we would have to write specific tests for each validation that fulfill all of the criteria except for the validation we want to test. This is cumbersome and violates the DRY principle. Shoulda Matchers allows a uniform, clear, and short format. The following example is an RSpec example, but it's rather <strong>boring</strong> because the tests all pass. All of the validations are fulfilled.<br>
        <br><img  src='blog2_images/model_validations_spec.png' alt='model validations test' width="800" height="auto"><br>

        <br><p> Now, the main event! We are more interested in what happens to the site when all of the validations are NOT fulfilled. If a Resort Object is created or updated, but doesn't meet these specifications, we want a test to fail and notify you of the missing or incorrect attribute.<br>
        <br> Notice that we have a validation for :something_that_doesnt_exist. The test will fail because we are expecting a Resort Object to have this attribute, but it doesn't exist in the schema, nor is this attribute ever associated with the Resort Object. The error is apparent in the failed test in the second image.<br>
        <br><img src='blog2_images/missing_validation.png' alt='invalid attribute example' width="800" height="auto"><br>
        <br><img  src='blog2_images/failed_test.png' alt='failing test' width="800" height="auto"><br>

        <br><p> Shoot! Now you have your models validations, test validations, and a failing test, but you're still getting an error message like the one below! The reason is that Shoulda Matcher validations expect(RSpec) or should(MiniTest) display an error.<br>
        <br><img  src='blog2_images/view_failure.png' alt='expected message failure' width="700" height="auto"><br>


        <br><p> In practice, I prefer to add flashes to display messages during sad path tests. If a new object is being created but doesn't save because it fails a validation, I want a particular error to show up.<br>
        First, add flashes to your app/layouts/application.html.erb file somewhere in the body section. The standard is to place these above the <%= yield %> so it catches the users eye when a form or other information if filled out incorrectly.<br>
        <br><img  src='blog2_images/Flashes.png' alt='flash integration' width="400" height="auto"><br>
        <br>
        <p>Then add flash messages into your controller when you want them to be displayed. Disclaimer, this is from a different, top secret project.</p>
        <br><img  src='blog2_images/controller_flash.png' alt='flash integration in the controller' width="700" height="auto"><br>
        <br><p>Another option is to display the error messages directly in the layout/applicaiton.html.erb file.</p>
        <br><img  src='blog2_images/views.png' alt='views error integration' width="700" height="auto"><br>
        <br>
        <p><strong>Pro Tip:</strong> Remember to update your strong_params private methods if you start requiring an attribute that wasn't previously part of a form or is new to the schema. I spent about an hour tracing a bug back to the fact that I hadn't updated the permitted attributes.</p>

       <br><p><strong>Installation:</strong><br>
        For RSpec: First, place gem 'shoulda-matchers' in the test environment of your Gemfile. Don'f forget to Bundle. Then head over to your rails_helper.rb file and insert the following lines of code. Don't forget to add the error flashes in your controllers as you proceed.
        <br>
        <br><img  src='blog2_images/configuration.png' alt='configuring test helper' width="700" height="auto">
        <br><p>If you are using MiniTest, you will need to install both: <br>gem 'shoulda', '~> 3.5'
        <br>gem 'shoulda-matchers', '~> 2.0'
        <br>
        MiniTest does not require any additional setup once these two gems are installed and bundled. The functionality is the same, except you will use "should validate..." in place of the "it {is_expected_to validate...}." Don't forget to add the error flashes in your controllers as you proceed. </p>
        <br>
        <p><strong>Pro Tip:</strong> If you are using MiniTest, DO NOT put the validations inside of a test. Nest them right under the model or you will get an error along the lines of "undefined method: should." See the example below.</p><br>
        <br><img src='blog2_images/minitest_example.png' alt='MiniTest Example' width="600" height="auto"><br>
      </div>
    </div>

      <hr class="gradient">

      <!-- Adventure Forward ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 id="adventure_forward" class="featurette-heading">Project I <span class="text-muted">Adventure Forward.</span></h2>
          <p class="lead">Want to help underserved students get their first mountain experiences?<br><a href='https://www.facebook.com/adventureforward/?fref=ts'>Adventure Forward</a> --> <i>The first organization to combine classroom support with Adventure Education.</i> Click the logo to see what we do!
          </p>
          <div class="AFlogo">
            <a href='https://www.youtube.com/watch?v=l_wLFRsFd7k'>
              <img src='images/AF.png' height="200">
            </a>
          </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlightReverse.png" alt="Crow Flight">
        </div>
      </div>

<!-- Skiboarding ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <hr class="gradient">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 id="skiboarding1" class="featurette-heading">Project II <span class="text-muted">SkiBoarding 3.0.</span></h2>
          <p class="lead">Let's see what gifts El Niño brings. Start the pow wow with this segment from <i>Into the Mind</i> - Crows and Big Lines.</p>
          <div class="Mind">
            <a href ='https://www.youtube.com/watch?v=pOlxcpXW2V0'>
              <img id="Mind" src='images/IntoTheMind.jpg' height="350">
            </a>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/CrowFlight.png" alt="Crow Flight">
        </div>
      </div>
      </div>

      <hr class="gradient">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <container>
        <footer>
          <p class="pull-right"><a href="#page-header-top">Back to top</a></p>
          <p>Steve Pentler 2015 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </container>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--// <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
